.searchRst {
  display: inline-block;
  color: #999;
  font-size: 14px;
  padding: 10px 10px;
}
.el-table th,
.el-table td {
  text-align: center !important;
}
.el-table th {
  background: #333 !important;
  color: #ffffff !important;
}
