.searchRst {
  display: inline-block;
  color: #999;
  font-size: 14px;
  padding: 10px 10px;
}
.el-table th,
.el-table td {
  text-align: center !important;
}
.el-table th {
  background: #333 !important;
  color: #ffffff !important;
}
.demonstration {
  height: 32px;
  vertical-align: middle;
  line-height: 32px !important;
  font-size: 14px;
  color: #606266;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
}